body {
  width: 80% !important;
  margin: auto !important;
  background-color: #f4f4f4 !important;
}

.search-characters {
  margin: 20px auto 30px auto;
  width: 250px;
}

.marvel-card-container {
  min-height: 65vh !important;
}

.marvel-card {
  min-width: 250px;
}
.marvel-image {
  width: 100%;
  height: 14rem;
}

.bookmark {
  font-size: 3rem;
  margin-top: 10px;
  margin-left: 1rem;
}
